



p {
    padding: 0px 0px 20px 180px
}

li {
    margin: 20px;
}

figure {
    padding: 50px 0px 50px 200px;
    text-align: center;
    display: inline-block;
}

table {
    margin: 100px 0px 0px 0px;
    border: 1px solid #a0a0a0;
    border-collapse: collapse;
}

caption {
    margin: 20px;
    padding: 20px;
    color: #000;
}

td {
    margin: 20px 5px 20px 5px ; 
    padding: 20px 5px 20px 5px ; 
    border: 1px solid #a0a0a0;
    color: #000;
}

.img_upd {
    max-width: 400px;
}


.head-ret {
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.main-h {
    margin: 100px 0px 0px 0px;
    padding: 0px 0px 0px 100px;
    font-size: 48px;
    color: #222020;
}

.add-h {
    margin: 100px 0px 25px 0px;
    padding: 0px 0px 0px 180px;
    font-size: 36px;
    color: #2f1ce4;
}

.main-list {
    padding: 0px 0px 0px 200px;
    font-size: 20px;
}




caption{
    caption-side: top;
    text-align: center;
}

.cenn{
    caption-side: top;
    text-align: center;
}
.add-block {
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    min-height: 30px;

}

.color-s {
    color: #2f1ce4
}

.color-b {
    color: #000;
}
