
h1 {
    color: white;
    font-family: "Graphik LCG", sans-serif;
    margin: 0px 0px 30px 0px;
}


@font-face {
	font-family: 'Graphik LCG';
	src: url('/SkillBox/HTML/Store/fonts/GraphikLCG-Medium.woff2') format('woff2'),
		url('/SkillBox/HTML/Store/fonts/GraphikLCG-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('/SkillBox/HTML/Store/fonts/Gilroy-Regular.woff2') format('woff2'),
		url('/SkillBox/HTML/Store/fonts/Gilroy-Regular.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('/SkillBox/HTML/Store/fonts/Gilroy-ExtraBold.woff2') format('woff2'),
		url('/SkillBox/HTML/Store/fonts/Gilroy-ExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('/SkillBox/HTML/Store/fonts/Gilroy-Medium.woff2') format('woff2'),
		url('/SkillBox/HTML/Store/fonts/Gilroy-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Gilroy', sans-serif;
}

.body-size {
    width: 1920px;
    height: 2261px;
    background-color: #ededed;
    padding: 30px 0px 30px 0px;
    margin: 0 auto;
}

.module-flex {
    display: flex; 
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    width: 1020px;
}

.module-flex-v {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1070px;
}

.module-content {
    height: 505px;
    width: 480px;
    background-color: #fff;
    border: 1px solid #fff;
}





.paragraph {
    font-family: Gilroy, sans-serif;;
    font-size: 36px;
    font-weight: 900;
    color: #3116e9;
}

.paragraph-add {
    font-family: Gilroy, sans-serif;;
    font-size: 16px;
    font-weight: 500;
    color: #1d1a1a;
}

.d01 {
    margin: gi;
}

.skillbox-logo {
    margin: 56px 0px 56px 370px;
}

.head-ret {
    margin: 0px 0px 110px 370px;
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.module-title {
    margin: 0px 0px 100px 470px;
    font-family: Gilroy, sans-serif;;
    font-size: 36px;
    font-weight: 900;
    color: #1d1a1a;
    text-align: left;
}

.color-i {
    color: #1d1a1a;
}

.color-b {
    color: #000;
}

.color-s {
    color: #2f1ce4
}













