body {
    font-family: Arial, Helvetica, sans-serif;
}

.block {
    /* text-align: center; */
}

.block__row {
    display: flex;
    border: 20px solid #ece89d;
    margin: 0px 0px 20px 0px;
    /* display: inline-flex; */
    /* justify-content: flex-start; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */



    /* border: 20px solid #ece89d;
    margin: 0px 0px 0px 0px; */
}
 .block__column {
    border: 20px solid #5e5373;
    /* flex-basis: 500px;
    flex-grow: 1;
    flex-shrink: 0; Ниже короткая запись этих свойств*/
    flex: 0 1 auto;
 }

 .block__column_1{
    order: 1;
    /* align-self: flex-start; */
 }

 .block__column_2 {
    order: 2;
 }

 .block__column_3 {
    order: 3;
    /* align-self: flex-end; */

 }

 .block__item {
    background-color: #18b5a4;
    padding: 50px;
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    /* text-align: center; */
 }

.block__list {
    display: flex;
    align-items: center;
    li{margin: 0px 15px 0px 0px;
        &:last-child{margin: 0px 0px 0px 0px;}
    }
}
 block__info{
    position: relative;
 }



