
body {
    background-color: black;
    
}

/* 
.colorstyle {
    font-size:larger;
    font-style: italic;
    color: rgb(60, 204, 214);
    background-color: bisque;

} */

.main-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    font-style: italic;

}

.add-title {
    font-weight: bold;
    text-transform: uppercase;
}

p {
    text-indent: 30px;
    white-space: wrap;
    word-spacing: unset;
    color: white;
}

a {
    color: rgb(194, 38, 38);
    text-decoration: none;
    /* text-shadow: 0 3px 3px rgb(207, 209, 78); */
    opacity: 0.7;
} 

.background-picture{
    background-image: url(DOK/FullMap.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-position: 55px center; */
    /* opacity: 0.7; */
    
}

.block-display {
    box-sizing: content-box;
    /* box-sizing: border-box; */
    display: block;
    min-width: 400px;
    min-height: 100px;
    /* width: 400px;
    height: 100px; */
    margin: 20px 150px 50px 150px;
    padding: 20px;
    border: 6px solid whitesmoke;
    border-radius: 5px;
    position: relative;

}




